<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" data-th-actin="@{/login}">
      <label for="username">Benutzer</label><input
        type = "text"
        name = "username"
        id = "username"
        autofocus = "autofocus"/>
      <label for="password">Password</label><input
          type = "password"
          name = "password"
          id = "password"
          autofocus = "autofocus"/>
      <button type="submit">Anmelden</button>
  </form>

</body>
</html>